<div class="container">
    <div class="top-content">
        <h3>
            Fintech28 Admin Dashboard
        </h3>
    </div>
    <div class="nav-menu">
        <ul>
            <li>
                <a routerLink = '/admin/users'>Fintech28 users</a>
            </li>
            <li>
                <a routerLink = '/admin/users'>Fintech28 Loan requests</a>
            </li>
        </ul>
    </div>
    <section class="data">
        <p>We imply, hypothetically, that a Fintech28 Admin is a default user, hence there is no 
        method to authorize the admin. This will be added later. We assume that the admin url is 
        known only to the admin, and not to the general user.
        This is to hasten development. Admin authorization is to be added in later features.</p>
    </section>
</div>