.content-container {
    padding: 1rem;
    position: absolute;
    width: 100vw;
}
.content {
    position: relative;
    width: 50%;
    min-width: 250px;
    margin: 6rem auto;
}
.grn {
    background: rgb(0, 129, 0);
    color: rgb(163, 163, 163);
    padding: 4px;
}
.rd {
    background: rgb(110, 1, 1);
    color: rgb(163, 163, 163);
    padding: 4px;
}
.mb {
    padding-bottom: 1.1rem;
}
.grn p, .rd p, .grn button, .rd button, .grn a, .rd a {
    color: rgb(221, 221, 221);
}
.grn a, .rd a {
    padding: 10px;
    text-decoration: none;
    margin-left: -5px;
    margin-bottom: 7px;
}
.grn button, .rd button {
    cursor: pointer;
    margin-top: 13px;
    background: transparent;
    border: none;
}
.ltltxt {
    font-weight: 400;
    text-decoration: underline;
}