<title>{{ pageTitle }}</title>
<app-header></app-header>
<div class="dash-container">
    <div class="top-nav-content">
        <div class="nav-content-">
            <h4>
                My Logs<br/>(Recent to oldest)
            </h4>
            <section class="search-section-top">
                <i class="fa fa-search fa-search-2x"></i>
                <input type="search" name="searchstring" id="searchbar" class = "s-bar">
            </section>
            <section class="user-pic-asbutton">
                <i class="fa fa-user fa-user-2x"></i>
                <span class = "u_">claud watari</span>
            </section>
        </div>
    </div>
    <main class = "mc">
        <section class="ub-content">
            <h4 class = "grn">Your current balance:</h4>
            <p class = "grn">Ksh. {{ userBalance  }}</p>
        </section>
        <div class="main-content">
            <section *ngFor = 'let transaction of userTransactions'>
                <p *ngIf = "transaction.transactiontype === 'Deposit'" class = "rd">
                    {{ transaction.transactiontype }}
                </p>
                <p *ngIf = "transaction.transactiontype === 'Withdrawal'" class = "grn">
                    {{ transaction.transactiontype }}
                </p>
                <p>
                    Ksh. {{ transaction.amount }}
                </p>
                <p>
                    {{ transaction.datetime.split('T')[0] }}
                </p>
            </section>
        </div>
    </main>
</div>