<title>{{ pageTitle }}</title>
<app-header></app-header>
<div class="dash-container">
    <div class="top-nav-content">
        <div class="nav-content-">
            <h4>
                Dashboard
            </h4>
            <section class="search-section-top">
                <i class="fa fa-search fa-search-2x"></i>
                <input type="search" name="searchstring" id="searchbar" class = "s-bar">
            </section>
            <section class="user-pic-asbutton">
                <i class="fa fa-user fa-user-2x"></i>
                <span class = "u_" style = "margin-left: 7px;">{{ loggedUser }}</span>
            </section>
        </div>
    </div>
    <main class = "mc">
        <div class="main-content">
            <section class="ub-content">
                <h4>Your current balance:</h4>
                <p>Ksh. {{ userBalance  }}</p>
            </section>
            <a routerLink = '/deposit'>
                Deposit to my account
            </a>
            <a routerLink = '/withdraw'>
                Withdraw from my account
            </a>
            <a routerLink = '/apply-for-loan'>
                Request for an instant loan
            </a>
            <a routerLink = '/repay-loan/1'>
                Repay active loan
            </a>
            <a routerLink = '/view-transactions'>
                See transactions
            </a>
        </div>
    </main>
</div>