<title>{{ pageTitle }}</title>
<app-header></app-header>
<div id="main-content-umbrella-container">
    <div class="top-content">
        <p><strong><u>Dashboard</u></strong></p>
        <section class="data-container">
            <div class="stat-container">
                <h3 *ngIf = 'userStatus === false' class = "unv-stat" style = "color: rgb(216, 215, 215); font-size: 13px;">
                    <strong>Your Account is still unverified:</strong>
                    Wait for an admin to verify your account.
                </h3>
                <h3 *ngIf = 'userStatus === true' class = "v-stat" style = "color: rgb(216, 215, 215); font-size: 13px;">
                    <strong>Verified<span class = "i-spanned"><i class = "fa fa-checkmark"></i></span></strong>
                </h3>
            </div>
        </section>
        <section class="data-container d-c">
            <h3><strong>Your Balance:</strong></h3>
            <p><strong>Ksh. {{ userBalance }}</strong></p>
        </section>
    </div>
    <div class="menu-container">
        <div class="menu-content">
            <ul class="menu-lister">
                <li>
                    <a routerLink = '/deposit'>Make deposit</a>
                </li>
                <li>
                    <a routerLink = '/withdraw'>Withdraw</a>
                </li>
                <li>
                    <a routerLink = '/apply-for-loan'>Apply for loan</a>
                </li>
                <li>
                    <a routerLink = '/repay-loan/1'>Repay Loan</a>
                </li>
                <li>
                    <a routerLink = '/view-transactions'>Transactions</a>
                </li>
                <li>
                    <a routerLink = '/view-loans'>Loan history</a>
                </li>
            </ul>
        </div>
    </div>
</div>