<div class="wrapper-container wc">
    <div class="wrapper-content">
        <div class="nav-container">
            <div class="nav-content">
                <h2>
                    <a href = "./user.dashboard.html">Fintech28 - Home</a>
                </h2>
                <section class="menu-section">
                    <div class="searchbox">
                        <i class="fa fa-search fa-search-2x s-icon"></i>
                        <input type="search" name="querystring" id="searchparam" class = "inputfield if" placeholder = "Enter search&hellip;">
                    </div>
                    <div class="nav-item">
                        <a href="./user.profile.html">
                            <i class="fa fa-user fa-user-2x u-icon"></i>
                            <p>My profile</p>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="./user.notifications.html">
                            <i class="fa fa-bell fa-bell-2x u-icon"></i>
                            <p>Notifications<span class = "false-notify">2</span></p>
                        </a>
                        <div class="notif-peeker" *ngIf = "loggedUserStatus === true">
                            <i class="fa fa-check fa-check-2x"></i>
                            <p>Your account has been verified</p>
                        </div>
                        <div class="notif-peeker np_f" *ngIf = "loggedUserStatus === false">
                            <i class="fa fa-times fa-times-2x"></i>
                            <p>Your account is not yet verified</p>
                        </div>
                    </div>
                </section>
                <div class="misc-section">
                    <button id = "log-out" class = "btn-primary bp-" (click) = "logOut()">Log out</button>
                </div>
            </div>
        </div>
    </div>
</div>