<title>{{ pageTitle }}</title>
<div class="wrapper-container">
    <div class="wrapper-content">
        <div class="form-content">
            <form class="form_">
                <div class="msg-box -mb h">
                    <span class="close-btn" (click) = "exitBox()">&times;</span>
                    <span id = 'alerter'></span>
                </div>
                <div class="input-content">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class = "inputfield" [(ngModel)] = "userModel.email">
                </div>
                <div class="input-content">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class = "inputfield" [(ngModel)] = "userModel.password">
                </div>
                <div class="input-content">
                    <p>Don't have an account?<br/><a routerLink = '/signup' class = "link">Create one here</a></p>
                </div>
                <div class="input-content">
                    <button class="btn-primary" id = "submit-btn" (click) = "loginUser()">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>
<section class="copyright_">
    &copy; <span class="date-content">{{ isThisYear }} Fintech28</span>
</section>