<title>{{ pageTitle }}</title>
<app-header></app-header>
<div class="dash-container">
    <div class="top-nav-content">
        <div class="nav-content-">
            <h4>
                Withdraw
            </h4>
            <section class="search-section-top">
                <i class="fa fa-search fa-search-2x"></i>
                <input type="search" name="searchstring" id="searchbar" class = "s-bar">
            </section>
            <section class="user-pic-asbutton">
                <i class="fa fa-user fa-user-2x"></i>
                <span class = "u_">claud watari</span>
            </section>
        </div>
    </div>
    <main class = "mc">
        <section class="ub-content">
            <h4 class = "grn">Your current balance:</h4>
            <p class = "grn">Ksh. {{ userBalance  }}</p>
        </section>
        <div class="main-content">
            <form action="" class = "form_ data-form_">
                <div class="msg-box -mb h">
                    <span class="close-btn">&times;</span>
                   <span id = "alert_"></span>
                </div>
                <div class="input-content">
                    <label for="amount">Enter amount to withdraw</label><br/>
                    <input type="number" name="amount" id="amount" class = "inputfield" [(ngModel)] = "withdrawalRequestBody.amount">
                </div>
                <div class="input-content">
                    <button class="btn-primary" id = "submit-btn"(click) = 'makeDeposit()'>Confirm withdrawal</button>
                </div>
            </form>
        </div>
    </main>
</div>