<title>{{ pageTitle }}</title>
<div id="alert_"></div>
<div class="content-container">
    <div class="content">
        <h2>
            List of Fintech28 Users (Recent to Oldest)
        </h2>
        <section class="data-container">
            <div class="data-content" *ngFor = 'let user of users'>
                <table *ngIf = 'user.isverified === true' class = 'grn'>
                    <tbody>
                        <tr>
                            <td>
                                <p><strong>Name:</strong></p>
                            </td>
                            <td>
                                <p><span class = "c_">{{ user.name }}</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Email:</strong></p>
                            </td>
                            <td>
                                <p>{{ user.email }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Phone:</strong></p>
                            </td>
                            <td>
                                <p>{{ user.phone }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class = "rd">Is Verified&ensp;
                                <i class = "fa fa-check fa-check-2x"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table *ngIf = 'user.isverified === false' class = 'rd'>
                    <tbody>
                        <tr>
                            <td>
                                <p><strong>Name:</strong></p>
                            </td>
                            <td>
                                <p><span class = "c_">{{ user.name }}</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Email:</strong></p>
                            </td>
                            <td>
                                <p>{{ user.email }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Phone:</strong></p>
                            </td>
                            <td>
                                <p>{{ user.phone }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class = "grn" id = 'btn-{{ user.id }}' (click) = 'verifyUser($event)'>
                                    Verify Account
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>