<title>{{ pageTitle }}</title>
<div id="alert_"></div>
<app-header></app-header>
<div id="main-content-umbrella-container">
    <div class="top-content">
        <p><strong><u>Deposit</u></strong></p>
        <section class="data-container">
        </section>
    </div>
    <div class="menu-container">
        <div class="menu-content">
          <form action="" class = "form_">
            <div class="input-container">
                <label for="amount">Your phone:</label>
                <input type="text" class = "inputfield" name = "amount" value = "{{ userPhone }}" readonly>
            </div>
            <div class="input-container">
                <label for="amount">Enter amount</label>
                <input type="number" class = "inputfield" name = "amount"[(ngModel)] = "depositRequestBody.amount">
            </div>
              <button type="button" id = "button_" (click) = 'makeDeposit()'>Send Request</button>
          </form>
        </div>
    </div>
</div>