<title>{{ pageTitle }}</title>
<app-header></app-header>
<div class="dash-container">
    <div class="top-nav-content">
        <div class="nav-content-">
            <h4>
                Deposit
            </h4>
            <section class="search-section-top">
                <i class="fa fa-search fa-search-2x"></i>
                <input type="search" name="searchstring" id="searchbar" class = "s-bar">
            </section>
            <section class="user-pic-asbutton">
                <i class="fa fa-user fa-user-2x"></i>
                <span class = "u_">claud watari</span>
            </section>
        </div>
    </div>
    <main class = "mc">
        <div class="main-content">
            <p>If you have a pending loan,<br/>this amount will be used to repay the outstanding balance.</p>
            <form action="" class = "form_ data-form_">
                <div class="msg-box -mb h" id = "alert_">
                    <span class="close-btn">&times;</span>
                   <span id = "alert-msg"></span>
                </div>
                <div class="input-content">
                    <label for="amount">Enter amount to deposit</label><br/>
                    <input type="number" name="amount" id="amount" class = "inputfield"[(ngModel)] = "depositRequestBody.amount">
                </div>
                <div class="input-content">
                    <button class="btn-primary" id = "submit-btn" (click) = 'makeDeposit()'>Confirm deposit</button>
                </div>
            </form>
        </div>
    </main>