<title>{{ pageTitle }}</title>
<app-header></app-header>
<div id="main-content-umbrella-container">
    <div class="top-content" *ngIf = 'userStatus === false'>
        <p><strong><u>My Loan history</u></strong></p>
        <section class="data-container">
            <div class="stat-container">
                <h3  class = "unv-stat" style = "color: rgb(216, 215, 215); font-size: 13px;">
                    <strong>Your Account is still unverified:</strong>
                    Wait for an admin to verify your account.
                </h3>
            </div>
        </section>
        <section class="data-container d-c">
            <h3><strong>Your Balance:</strong></h3>
            <p><strong>Ksh. {{ userBalanceUnverified }}</strong></p>
        </section>
        <div class="contact-container">
            <p>Want to contact us to confirm your account verification?<br/>
            Send a message by filling the form below.</p>
            <form action="" class = "form_">
              <div class="input-container">
                  <label for="amount">Your phone:</label>
                  <input type="text" class = "inputfield" name = "amount" [(ngModel)] = "userPhone" readonly>
              </div>
              <div class="input-container">
                  <label for="amount">Sunject</label>
                  <input type="text" class = "inputfield" name = "email" value = "Account verification&hellip;">
              </div>
                <button type="button" id = "button_" (click) = 'processRequest()'>Send Inquiry</button>
            </form>
        </div>
    </div>
    <div class="menu-container" *ngIf = 'userStatus === true'>
        <div class="menu-content">
            <div class="top-content">
                <p><strong><u>My loan history</u></strong><br/>{{ userLoanMessage }}</p>
                <section class="data-container">
                    <div class="stat-container">
                        <h3 class = "v-stat" style = "color: rgb(216, 215, 215); font-size: 13px;">
                            <strong>Verified&ensp;<span class = "i-spanned"><i class = "fa fa-check fa-check-2x"></i></span></strong>
                        </h3>
                    </div>
                </section>
                <section class="data-container d-c">
                    <h3><strong>Your Balance:</strong></h3>
                    <p><strong>Ksh. {{ userBalance }}</strong></p>
                </section>
            </div>
            <div *ngFor = 'let transaction of userLoanData'>
                <table *ngIf = 'transaction.isfullyrepaid' class = "grn">
                    <tbody>
                        <tr>
                            <td>Amount borrowed:</td>
                            <td>{{ transaction.amount }}</td>
                        </tr>
                        <tr>
                            <td>Confirmed on date:</td>
                            <td>{{ transaction.senton.split('T')[0] }}</td>
                        </tr>
                        <tr>
                            <td>To be repaid by date:</td>
                            <td>{{ transaction.dueon }}</td>
                        </tr>
                    </tbody>
                </table>
                <table *ngIf = '!transaction.isfullyrepaid' class = "rd">
                    <tbody>
                        <tr>
                            <td><p><strong>Amount borrowed:</strong></p></td>
                            <td><p>Ksh. {{ transaction.amount }}</p></td>
                        </tr>
                        <tr>
                            <td><p><strong>Confirmed on date:</strong></p></td>
                            <td><p>{{ transaction.senton.split('T')[0] }}</p></td>
                        </tr>
                        <tr>
                            <td><p><strong>To be repaid by date:</strong></p></td>
                            <td><p>{{ transaction.dueon }}</p></td>
                        </tr>
                        <tr>
                            <td><p><strong>Amount repaid:</strong></p></td>
                            <td><p>Ksh. {{ transaction.totalrepaid }}</p></td>
                        </tr>
                        <tr>
                            <td><p><strong>Balance</strong></p></td>
                            <td><p>Ksh. {{ transaction.amount - transaction.totalrepaid }}</p></td>
                        </tr>
                        <tr>
                            <span *ngIf = 'transaction.isconfirmed === false' class = "stxt">
                                <br/>
                                This loan request is being processed
                            </span>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="new-app-container" *ngIf = 'hasPendingLoan === true'>
                <p>Repay your existing loan to qualify for a new one</p>
            </div>
            <div class="new-app-container" *ngIf = '!hasPendingLoan'>
                <a routerLink = '/apply-for-loan'>Apply for new loan</a>
            </div> -->
        </div>
    </div>
</div>