<title>{{ pageTitle }}</title>
    <div class="wrapper-container">
        <div class="wrapper-content">
            <div class="form-content">
                <form class="form_">
                    <div class="msg-box -mb h">
                        <span class="close-btn" (click) = "exitBox()">&times;</span>
                        <span id = 'alerter'></span>
                    </div>
                    <div class="input-content">
                        <label for="">Name</label>
                        <input type="text" name="name" id="name" class = "inputfield" [(ngModel)] = "userModel.name">
                    </div>
                    <div class="input-content">
                        <label for="">Email</label>
                        <input type="email" name="email" id="email" class = "inputfield" [(ngModel)] = "userModel.email">
                    </div>
                    <div class="input-content">
                        <label for="phone">Phone</label>
                        <input type="text" name="phone" id="phone" class = "inputfield" [(ngModel)] = "userModel.phone">
                    </div>
                    <div class="input-content">
                        <label for="">Password</label>
                        <input type="password" name="password" id="password" class = "inputfield" [(ngModel)] = "userModel.password">
                    </div>
                    <div class="input-content">
                        <p>Already have an account?<br/><a routerLink = '/login' class = "link">Log in here</a></p>
                    </div>
                    <div class="input-content">
                        <button class="btn-primary" id = "submit-btn" (click) = "createUser()">Create my account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section class="copyright_">
        &copy; <span class="date-content">{{ isThisYear }} Fintech28</span>
    </section>